N8N/DeleteAppointmentCalendar.json
{
  "name": "DeleteAppointmentCalendar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delete-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-5e6f-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $node[\"Webhook\"].json[\"google_calendar_event_id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1c2d3e4-5f6a-7890-bcde-f12345678901",
      "name": "Check Event ID Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT google_calendar_id, calendar_sync_enabled, name FROM doctores WHERE id = $1 AND empresa_id = $2",
        "options": {}
      },
      "id": "c1d2e3f4-5a6b-7890-cdef-123456789012",
      "name": "Get Doctor Calendar Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        750,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $node[\"Get Doctor Calendar Info\"].json[0].google_calendar_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1e2f3a4-5b6c-7890-defa-234567890123",
      "name": "Check Calendar Configured",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": "={{ $node[\"Get Doctor Calendar Info\"].json[0].google_calendar_id }}",
        "eventId": "={{ $node[\"Webhook\"].json[\"google_calendar_event_id\"] }}"
      },
      "id": "e1f2a3b4-5c6d-7890-efab-345678901234",
      "name": "Delete Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [
        1250,
        100
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2",
          "name": "Google Calendar Service Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/calendar/appointment-calendar-deleted",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "appointment_id",
              "value": "={{ $node[\"Webhook\"].json[\"appointment_id\"] }}"
            },
            {
              "name": "google_calendar_event_id",
              "value": "={{ $node[\"Webhook\"].json[\"google_calendar_event_id\"] }}"
            },
            {
              "name": "success",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        }
      },
      "id": "f1a2b3c4-5d6e-7890-fabc-456789012345",
      "name": "Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/calendar/appointment-calendar-deleted",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "appointment_id",
              "value": "={{ $node[\"Webhook\"].json[\"appointment_id\"] }}"
            },
            {
              "name": "google_calendar_event_id",
              "value": "={{ $node[\"Webhook\"].json[\"google_calendar_event_id\"] || '' }}"
            },
            {
              "name": "success",
              "value": "false"
            },
            {
              "name": "error",
              "value": "No event ID provided or no calendar configured"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-5e6f-7890-abcd-ef1234567846",
      "name": "Callback Skip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        750,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/calendar/appointment-calendar-deleted",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "appointment_id",
              "value": "={{ $node[\"Webhook\"].json[\"appointment_id\"] }}"
            },
            {
              "name": "google_calendar_event_id",
              "value": "={{ $node[\"Webhook\"].json[\"google_calendar_event_id\"] }}"
            },
            {
              "name": "success",
              "value": "false"
            },
            {
              "name": "error",
              "value": "No calendar configured for doctor"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b1c2d3e4-5f6a-7890-bcde-f12345678947",
      "name": "Callback No Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/calendar/appointment-calendar-deleted",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "appointment_id",
              "value": "={{ $node[\"Webhook\"].json[\"appointment_id\"] }}"
            },
            {
              "name": "google_calendar_event_id",
              "value": "={{ $node[\"Webhook\"].json[\"google_calendar_event_id\"] }}"
            },
            {
              "name": "success",
              "value": "false"
            },
            {
              "name": "error",
              "value": "={{ $node[\"Delete Calendar Event\"].json[\"error\"] || 'Failed to delete calendar event' }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "c1d2e3f4-5a6b-7890-cdef-123456789048",
      "name": "Callback Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Calendar event deleted\", \"appointment_id\": $node[\"Webhook\"].json[\"appointment_id\"] } }}"
      },
      "id": "d1e2f3a4-5b6c-7890-defa-234567890149",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1750,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Delete skipped - no event or calendar\", \"appointment_id\": $node[\"Webhook\"].json[\"appointment_id\"] } }}"
      },
      "id": "e1f2a3b4-5c6d-7890-efab-34567890124a",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Failed to delete calendar event\", \"appointment_id\": $node[\"Webhook\"].json[\"appointment_id\"] } }}"
      },
      "id": "f1a2b3c4-5d6e-7890-fabc-45678901234b",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1750,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Event ID Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event ID Exists": {
      "main": [
        [
          {
            "node": "Get Doctor Calendar Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Doctor Calendar Info": {
      "main": [
        [
          {
            "node": "Check Calendar Configured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Configured": {
      "main": [
        [
          {
            "node": "Delete Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback No Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calendar Event": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Skip": {
      "main": [
        [
          {
            "node": "Respond Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback No Calendar": {
      "main": [
        [
          {
            "node": "Respond Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-19T20:00:00.000Z",
      "updatedAt": "2026-03-19T20:00:00.000Z",
      "id": "calendar-sync",
      "name": "Calendar Sync"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-19T20:00:00.000Z",
  "versionId": "1"
}