N8N/Reagendamiento.json
{
  "name": "Reagendamiento",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "CallerID"
            },
            {
              "name": "Message"
            },
            {
              "name": "Instance"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -112,
        656
      ],
      "id": "beabcd89-f0fa-4f01-9a0c-c94796eeff23",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "state",
        "key": "={{ $json.CallerID }}-state",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        336,
        288
      ],
      "id": "7220a0bd-798b-4441-81dc-a3d9e804157e",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "499e6b74-e44a-478f-9477-599ef97cc445"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Inicio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "732a7223-5dba-4eec-a8e4-0a2e6f67de6b",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "Nombre",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nombre"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5aaca3f3-7a1f-479e-8396-7f639a6805d0",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "Eleccion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Eleccion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c0def2a0-eb7f-42ef-83b3-1f00a34c233b",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "Reagendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reagendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ed95d16b-41e1-4ada-afc3-8068a9c0bc6c",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "Fecha",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fecha"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cac52561-204c-4dcf-b6ae-c69ca96bc9dd",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "Hora",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hora"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "69256363-aec0-43e3-bf64-4e8be27fc803",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "Confirmacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmacion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        560,
        224
      ],
      "id": "4c5ebf71-9ec2-4d70-be07-a4c3e907d318",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-state",
        "value": "Nombre"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1008,
        -288
      ],
      "id": "9433c83f-0e81-46ea-a2fa-8a37ebeaad09",
      "name": "Set_name",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=🔄 Elegiste *reagendar una cita*.\n\nPor favor, escribí el *nombre de la persona* que figura en la consulta para poder continuar.\n\nSi deseás volver al menú principal, escribí *CANCELAR*.\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        784,
        -288
      ],
      "id": "e368622c-b506-4d40-ab90-b4445de6d05d",
      "name": "Inicio",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=❌ No se encontró ninguna cita asociada a ese nombre.\n\nPor favor, verificá el nombre ingresado e intentá nuevamente.\nSi necesitás ayuda, escribí *CANCELAR* para volver al inicio.\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1232,
        96
      ],
      "id": "3185912a-79ec-474a-89cd-c88eb456996d",
      "name": "No_Date_With_That_Name",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=⚠️ Encontramos una cita asociada a ese nombre, pero el número desde el que estás escribiendo no coincide con el registrado en la reserva.\n\nPor favor, escribí el *número de teléfono* desde el cual se realizó la reserva para poder continuar.\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1456,
        80
      ],
      "id": "5ad5f780-9f67-4d46-97ae-98b545322ff3",
      "name": "Number_not_Associated",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-state",
        "value": "Numero"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1680,
        80
      ],
      "id": "f3e6380a-2056-4a55-a5c7-96d1612387c4",
      "name": "Set_number",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "wA0dcDuSPu44zLSy",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "/projects/2FKcChTlWLe9b3wY/datatables/wA0dcDuSPu44zLSy"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "paciente_nombre",
              "condition": "ilike",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.Message.toTitleCase() }}"
            },
            {
              "keyName": "estado",
              "condition": "neq",
              "keyValue": "cancelado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        784,
        -96
      ],
      "id": "f0f3e3df-8468-47ae-826e-73b28c245eed",
      "name": "GetTurnos",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.Instance }}",
        "remoteJid": "={{ $json.CallerID }}",
        "messageText": "={{ $json.mensaje }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1904,
        -208
      ],
      "id": "308c6b2f-201a-45c4-ac4f-e9c1f11d6514",
      "name": "Unica_Cita",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Message_Builder').item.json.CallerID }}-state",
        "value": "Reagendar"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2128,
        -208
      ],
      "id": "aec9e32b-a351-4c26-bda6-64d4e08d3b49",
      "name": "Set_cancelacion",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6cf103df-c30f-4639-ab1c-a6fdfa1a40ad",
              "leftValue": "={{ $json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        -96
      ],
      "id": "005ba53d-edca-49a6-81f0-05d51582833a",
      "name": "Is_name_associated"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "eea10787-6084-4c2c-9d6d-dd22fd64d147",
              "leftValue": "={{ $json.paciente_telefono }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "4edf745f-f222-41eb-b37e-a710f5e71b0f",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
              "rightValue": "={{ $json.paciente_telefono}}",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        -96
      ],
      "id": "2889cb43-8d2a-4011-80fe-9dc6ece9cb3d",
      "name": "Is_number_associated"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d4b53fe6-2696-4ead-a55d-89f9c36b0bfe",
              "leftValue": "={{ $json.unica_cita }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1680,
        -112
      ],
      "id": "04758230-eedd-4f02-9aff-8565764a0d97",
      "name": "Is_date_unique"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Message_Builder').item.json.CallerID }}-dateID",
        "value": "={{ $('Message_Builder').item.json.cita.id.toString() }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2352,
        -208
      ],
      "id": "961bab46-5a1d-41ef-a528-18b02a953fa8",
      "name": "Set_DateID",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.Message.toUpperCase() }}",
                    "rightValue": "SI",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1cb1abb-bae5-4ffb-8c41-e8f3eebe172f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirmado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db831cfd-f3e0-406c-9ece-dd7856bc1cd1",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.Message.toUpperCase() }}",
                    "rightValue": "NO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelado"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        784,
        576
      ],
      "id": "5591d8b6-fc39-4829-8329-f2a4e8b625f0",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=❌ Respuesta inválida. Por favor respondé SI o NO.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1008,
        880
      ],
      "id": "6463ca27-c570-4982-91b8-45f432d2c650",
      "name": "Neither",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9npekj3aPag37ifbW5rTQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/9npekj3aPag37ifbW5rTQ",
          "cachedResultName": "Deletion_of_Redis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "CallerID": "={{ $('When Executed by Another Workflow').item.json.CallerID }}"
          },
          "matchingColumns": [
            "CallerID"
          ],
          "schema": [
            {
              "id": "CallerID",
              "displayName": "CallerID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        768
      ],
      "id": "5b199ed1-2193-4b8b-b365-68272c98f24d",
      "name": "Call 'Deletion_of_Redis'"
    },
    {
      "parameters": {
        "content": "{CallerID}-state\n{CallerID}-DoctorId\n{CallerID}-fecha\n{CallerID}-fechaHoraInicio\n{CallerID}-fechaHoraFin\n{CallerID}-doctores_disponibles\n{CallerID}-HorariosDisponibles\n{{CallerID }}-menu\n{{ CallerID }}-name",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -512
      ],
      "id": "d75a0cce-9925-41cb-9aea-b4297d10c647",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=ℹ️ El reagendamiento fue cancelado.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1008,
        688
      ],
      "id": "6a0c5f9e-0ca8-4abf-8d5e-15d1bbc33334",
      "name": "Cancelar",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Citas existentes\nconst appointments = $('GetTurnos').all().map(i => i.json);\n\n// Fecha actual\nconst ahora = new Date();\n\n// Filtrar citas futuras y reservadas\nconst citasFuturas = appointments.filter(cita => {\n  return (\n    cita.estado === 'reservado' &&\n    new Date(cita.fecha_hora_inicio) > ahora\n  );\n});\n\n// Si no tiene citas futuras\nif (citasFuturas.length === 0) {\n  return [{\n    json: {\n      tiene_citas: false,\n      mensaje: '❌ No tenés citas futuras registradas para reagendar.'\n    }\n  }];\n}\n\n// Si tiene una sola cita\nif (citasFuturas.length === 1) {\n  const cita = citasFuturas[0];\n  const inicio = new Date(cita.fecha_hora_inicio);\n\n  const mensaje =\n`📅 Tenés una cita programada:\n\n📆 Fecha: ${inicio.toLocaleDateString('es-ES')}\n⏰ Hora: ${inicio.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit' })}\n\n¿Deseás *reagendar* esta cita?\nRespondé *SI* para continuar o *NO* para mantenerla.`;\n\n  return [{\n    json: {\n      unica_cita: true,\n      cita,\n      mensaje,\n      CallerID: $('When Executed by Another Workflow').first().json.CallerID,\n      Instance: $('When Executed by Another Workflow').first().json.Instance\n    }\n  }];\n}\n\n// Si tiene más de una cita\nlet menu = `📅 Tenés las siguientes citas programadas:\\n\\n`;\n\ncitasFuturas.forEach((cita, index) => {\n  const inicio = new Date(cita.fecha_hora_inicio);\n  menu += `${index + 1}️⃣ ${inicio.toLocaleDateString('es-ES')} - ${inicio.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit' })}\\n`;\n});\n\nmenu += `\\nPor favor, respondé con el *número* de la cita que deseás *reagendar*.`;\n\nreturn [{\n  json: {\n    unica_cita: false,\n    citas: citasFuturas,\n    mensaje: menu,\n    CallerID: $('When Executed by Another Workflow').first().json.CallerID,\n    Instance: $('When Executed by Another Workflow').first().json.Instance\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -112
      ],
      "id": "72fbc5dc-398e-401a-997e-0ad3ab8f87cb",
      "name": "Message_Builder"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.Instance }}",
        "remoteJid": "={{ $json.CallerID }}",
        "messageText": "={{ $json.mensaje }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1904,
        -16
      ],
      "id": "1075e057-916e-4a53-9dbf-635dba7d1a5d",
      "name": "Multiples_Citas",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Message_Builder').item.json.CallerID }}-HorariosDisponibles",
        "value": "={{ $('Message_Builder').item.json.citas.toJsonString() }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2352,
        -16
      ],
      "id": "2e21f3e7-66ee-4dfe-866d-ae1bac4a52b4",
      "name": "Set_HorariosDisponibles",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Message_Builder').item.json.CallerID }}-state",
        "value": "Eleccion"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2128,
        -16
      ],
      "id": "38f9cefd-4b58-4d8e-8e69-816da9f633b0",
      "name": "Set_eleccion",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "citas",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-HorariosDisponibles",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        784,
        288
      ],
      "id": "9db6fa18-ea2d-4e56-8f94-4a2d11a288cd",
      "name": "Get_HorariosDisponibles",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// JSON en formato string (array de citas)\nconst jsonString = $input.first().json.citas;\n\n// Opción ingresada por el usuario\nconst opcionRaw = $('When Executed by Another Workflow').first().json.Message;\nconst opcion = parseInt(opcionRaw, 10);\n\n// Parsear JSON string a JSON real\nconst citas = JSON.parse(jsonString);\n\n// Validar que sea número\nif (isNaN(opcion)) {\n  return [{\n    json: {\n      valido: false,\n      mensaje: '❌ Opción inválida. Por favor, respondé con un número.'\n    }\n  }];\n}\n\n// Validar rango\nif (opcion < 1 || opcion > citas.length) {\n  return [{\n    json: {\n      valido: false,\n      mensaje: '❌ El número ingresado no corresponde a ninguna cita.'\n    }\n  }];\n}\n\n// Obtener la cita seleccionada (1 → índice 0)\nconst citaSeleccionada = citas[opcion - 1];\n\n// Fecha de inicio de la cita\nconst inicio = new Date(citaSeleccionada.fecha_hora_inicio);\n\n// Mensaje de reagendamiento\nconst mensaje =\n`📆 Fecha actual: ${inicio.toLocaleDateString('es-ES')}\n⏰ Hora actual: ${inicio.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit' })}\n\n¿Para qué día querés agendar la consulta?\n\n📅 Escribí la fecha en formato DD/MM/AAAA.`;\n\n// OK\nreturn [{\n  json: {\n    valido: true,\n    eleccion_usuario: opcion,\n    cita_seleccionada: citaSeleccionada,\n    mensaje\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        288
      ],
      "id": "f606e637-97b7-4a34-83b5-bd31e0d23c68",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c55dea2-9a0c-4719-97cf-03f33cc4712c",
              "leftValue": "={{ $json.Message.toUpperCase() }}",
              "rightValue": "CANCELAR",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        656
      ],
      "id": "9b9acaf4-87e7-4999-bfc5-901bf93c1ea4",
      "name": "Canceled?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddc0e4cb-e3b1-4c3c-99d8-3a773a2db127",
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        288
      ],
      "id": "35c2559d-0729-42ed-a2e8-5f5d326cd191",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "={{ $json.mensaje }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1456,
        288
      ],
      "id": "2384aec8-7e9e-448a-ab2c-430669b921db",
      "name": "Eleccion_valida",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-dateID",
        "value": "={{ $('Code in JavaScript').item.json.cita_seleccionada.id.toString() }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1904,
        288
      ],
      "id": "83071630-7976-4fbe-832d-e5bb4abb701e",
      "name": "Set_DateID1",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=🗑️ Tu turno fue cancelado correctamente.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1232,
        2096
      ],
      "id": "45ba7be6-0327-4f01-b1a6-9fab9c452345",
      "name": "cancelacion",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "398f759c-6c2e-4e17-8723-237c215b9358",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.Message.toUpperCase() }}",
              "rightValue": "NO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        2096
      ],
      "id": "285d0a46-4674-474c-b7ca-ee43d3c12374",
      "name": "If2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=✅ ¡Turno confirmado!\n\nTu consulta quedó *reagendada* para:\n\n📅 {{ $('Get_date_inicio').item.json.dateInicio.toDateTime().toFormat('dd/MM/yyyy')  }}\n🕒 {{ $('Get_date_inicio').item.json.dateInicio.toDateTime().toLocaleString({timeStyle: 'short'}) }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2544,
        1840
      ],
      "id": "d0ceefd7-c467-46f4-87ba-71fd6af0c504",
      "name": "Confirmacion",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "dateFin",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-fechaHoraFin",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1456,
        1840
      ],
      "id": "baf636ae-85e1-4aa4-9d7a-933fc6f8d578",
      "name": "Get_date_fin",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "dateInicio",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-fechaHoraInicio",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1232,
        1840
      ],
      "id": "4830d965-7ec0-40a6-b9c5-fa4e4d626779",
      "name": "Get_date_inicio",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e2f2a6a2-e6a8-40b0-a429-d1ce21795dfa",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.Message.toUpperCase() }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        1936
      ],
      "id": "772427cf-3035-4422-99c3-d51dc884009f",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "HorariosDisponibles",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-HorariosDisponibles",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1008,
        1440
      ],
      "id": "c5a456df-41ac-4d83-b5f6-5908af808c94",
      "name": "get_HorariosDisponibles",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input del usuario (ej: \"1\", \"2\", etc.)\nconst choiceRaw = $('When Executed by Another Workflow').first().json.Message;\nconst index = parseInt(choiceRaw, 10);\n\n// Validar input numérico\nif (isNaN(index) || index < 1) {\n  return [{\n    json: {\n      valido: false,\n      mensaje: '❌ Opción inválida. Respondé con el número del horario.'\n    }\n  }];\n}\n\n// Horarios disponibles (array de \"HH:mm\")\nconst horariosDisponibles = $('get_HorariosDisponibles').first().json.HorariosDisponibles;\n\n// Validar que esté dentro del array\nif (index > horariosDisponibles.length) {\n  return [{\n    json: {\n      valido: false,\n      mensaje: '❌ El horario seleccionado no existe.'\n    }\n  }];\n}\n\n// Hora elegida (HH:mm)\nconst horaElegida = horariosDisponibles[index - 1];\n\n// Fecha base ISO\nconst fechaBaseISO = $('Get_date').first().json.fecha_selected;\nconst inicioElegido = new Date(fechaBaseISO);\n\n// Setear hora elegida\nconst [hh, mm] = horaElegida.split(':').map(Number);\ninicioElegido.setUTCHours(hh, mm, 0, 0);\n\n// Duración\nconst duracion = $('GetDoctor1').first().json.duracion_consulta;\nconst finElegido = new Date(inicioElegido);\nfinElegido.setMinutes(finElegido.getMinutes() + duracion);\n\n// Mensaje de confirmación\nconst mensaje =\n`📅 *Confirmación de turno*\n\n👨‍⚕️ Doctor: ${$('GetDoctor1').first().json.nombre}\n👤 Paciente: ${$('Get_appointment1').first().json.paciente_nombre}\n📆 Fecha: ${inicioElegido.toLocaleDateString('es-ES')}\n⏰ Hora: ${horaElegida}\n⌛ Duración: ${duracion} minutos\n\n¿Los datos son correctos?\nRespondé *SI* para confirmar o *NO* para cancelar.`;\n\n// OK\nreturn [{\n  json: {\n    valido: true,\n    fecha_hora_inicio: inicioElegido.toISOString(),\n    fecha_hora_fin: finElegido.toISOString(),\n    mensaje\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        1456
      ],
      "id": "c725e9f4-8ada-47c7-a208-2d32f7f85dca",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "={{ $json.mensaje }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2352,
        1456
      ],
      "id": "d1a23df0-07c0-4c3b-bb0e-9128acb21925",
      "name": "Hora1",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hMRPl1eK7rwrIssD",
          "mode": "list",
          "cachedResultName": "Doctor",
          "cachedResultUrl": "/projects/2FKcChTlWLe9b3wY/datatables/hMRPl1eK7rwrIssD"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.doctor_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1904,
        1456
      ],
      "id": "0395f93d-7ac8-4b96-b64e-3004490d1416",
      "name": "GetDoctor1",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-fechaHoraInicio",
        "value": "={{ $('Code in JavaScript3').item.json.fecha_hora_inicio }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2576,
        1456
      ],
      "id": "a0fd6361-47a3-4006-87fd-6f67fe7f0147",
      "name": "Set_date_inicio",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-fechaHoraFin",
        "value": "={{ $('Code in JavaScript3').item.json.fecha_hora_fin }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2800,
        1456
      ],
      "id": "4b310c9c-bc3a-451c-8db8-581551a1f0a4",
      "name": "Set_date_fin",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-state",
        "value": "Confirmacion",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3024,
        1456
      ],
      "id": "e1f740f6-ff79-4a30-9fca-d0042928468c",
      "name": "Set_confirmacion",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "fecha_selected",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-fecha",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1232,
        1456
      ],
      "id": "3aeab449-9c23-4bee-b1bb-e687d541dccd",
      "name": "Get_date",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=No pude reconocer la fecha que enviaste.\nPor favor, escribila en el formato dd/MM/yyyy (por ejemplo: 15/03/2026).",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1232,
        1264
      ],
      "id": "296f1c44-3d74-41d2-84cd-80ae957f5a35",
      "name": "FechaInvalida",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const texto = $('When Executed by Another Workflow').first().json.Message;\n\n// 1. Validar formato dd/MM/yyyy con regex estricta\nconst regex = /^(0[1-9]|[12][0-9]|3[01])\\/(0[1-9]|1[0-2])\\/\\d{4}$/;\n\nif (!regex.test(texto)) {\n  return [{ json: { valido: false, motivo: 'Formato inválido (dd/MM/yyyy)' } }];\n}\n\n// 2. Validar que la fecha exista realmente\nconst [dia, mes, anio] = texto.split('/').map(Number);\nconst fecha = new Date(anio, mes - 1, dia);\n\nconst fechaValida =\n  fecha.getFullYear() === anio &&\n  fecha.getMonth() === mes - 1 &&\n  fecha.getDate() === dia;\n\nif (!fechaValida) {\n  return [{ json: { valido: false, motivo: 'La fecha no existe' } }];\n}\n\n// 3. Fecha válida\nreturn [{\n  json: {\n    valido: true,\n    fecha_original: texto,\n    fecha_date: fecha.toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        1072
      ],
      "id": "f34128da-183f-43ee-b807-5f352d7a6b79",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "60e72980-9c72-416d-ab7f-402b7d4a2a2a",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        1072
      ],
      "id": "6f3ee9e9-2c9b-4bb9-a5d1-3321f0ebf04e",
      "name": "Is_Date"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=Lo siento, {{ $json.nombre.includes('Dr.')? 'el ' : \"la \"}}{{ $json.nombre}} no atiende el día seleccionado. ",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2800,
        1136
      ],
      "id": "ab885be2-154c-4771-9d6a-fa169ab8afe6",
      "name": "NoAtiende",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=La fecha que indicaste corresponde a un día que ya pasó.\nPor favor, envíame una fecha posterior a hoy en el formato dd/MM/yyyy (por ejemplo: 25/03/2026).",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1456,
        1232
      ],
      "id": "93073a76-7b0e-4058-8e94-832ce99ce738",
      "name": "FechaPasada",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e924288-3c7c-4f79-9bca-2883bde79c02",
              "leftValue": "={{ $json.fecha_date }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        1072
      ],
      "id": "cdbf7267-f270-48b7-9082-59988f4a45d0",
      "name": "Is_Valid_Date"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Vh1ixrYCpUuuKazI",
          "mode": "list",
          "cachedResultName": "Horario",
          "cachedResultUrl": "/projects/2FKcChTlWLe9b3wY/datatables/Vh1ixrYCpUuuKazI"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "doctor_id",
              "keyValue": "={{ $json.doctor_id }}"
            },
            {
              "keyName": "dia_semana",
              "keyValue": "={{ $('Code in JavaScript1').item.json.fecha_date.toDateTime().extract(\"weekday\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1904,
        1040
      ],
      "id": "f3c17093-0cfd-4182-b207-54fe9f0c0601",
      "name": "GetHorario",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6fbcb57f-c881-468d-a6b5-e1720df81894",
              "leftValue": "={{ $('GetHorario').item.json.dia_semana }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2576,
        1040
      ],
      "id": "7eb1ba24-1eda-4abd-a168-37530c0abcc5",
      "name": "Is_attending that date"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "={{ $json.mensaje }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3024,
        944
      ],
      "id": "f00ea52d-c903-42e8-b9a0-c095ff191226",
      "name": "Hora",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hMRPl1eK7rwrIssD",
          "mode": "list",
          "cachedResultName": "Doctor",
          "cachedResultUrl": "/projects/2FKcChTlWLe9b3wY/datatables/hMRPl1eK7rwrIssD"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get_appointment').item.json.doctor_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2352,
        1040
      ],
      "id": "b0447a35-2ed0-4395-89bf-889fb04cd7be",
      "name": "GetDoctor",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-fecha",
        "value": "={{ $('Code in JavaScript1').item.json.fecha_date }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3696,
        944
      ],
      "id": "fb605b0d-65bb-4600-95e8-2a9c6cf611d6",
      "name": "Set_date",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-state",
        "value": "Hora",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3920,
        944
      ],
      "id": "81dc7eeb-0484-439c-aeb2-7144896b98f8",
      "name": "Set_hora",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-HorariosDisponibles",
        "messageData": "={{ $('Code in JavaScript4').item.json.horariosDisponibles }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3472,
        944
      ],
      "id": "5915c7f3-307a-4492-93fe-94c0a1c995f3",
      "name": "Save_Horarios",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9npekj3aPag37ifbW5rTQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/9npekj3aPag37ifbW5rTQ",
          "cachedResultName": "Deletion_of_Redis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "CallerID": "={{ $('When Executed by Another Workflow').item.json.CallerID }}"
          },
          "matchingColumns": [
            "CallerID"
          ],
          "schema": [
            {
              "id": "CallerID",
              "displayName": "CallerID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2768,
        1936
      ],
      "id": "daa2ed7f-9248-46aa-88a3-894f13fce9e4",
      "name": "Call 'DeleteKeys'"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=Lo siento, no entendí tu respuesta.\n\nPor favor, respondé con:\nSI 👉 para confirmar el turno  \nNO 👉 para cancelarlo",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1232,
        2288
      ],
      "id": "66e8f20e-9669-4f24-bbbd-8f4e7332674e",
      "name": "cancelacion1",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const appointments = $('GetTurnos1').all().map(i => i.json);\nconst horarios = $('GetHorario').all().map(i => i.json);\n\nconst doctorNombre = $('GetDoctor').first().json.nombre;\nconst duracion_consulta = $('GetDoctor').first().json.duracion_consulta; // minutos\nconst fechaISO = $('Code in JavaScript1').first().json.fecha_date;\n\nconst fecha = new Date(fechaISO);\nconst diaSemana = fecha.getUTCDay(); // 0=domingo ... 6=sábado\nlet prefix;\nconst horariosDelDia = horarios.filter(h => h.dia_semana === diaSemana);\nif(doctorNombre.startsWith(\"Dr.\")){\n  prefix = 'el';\n} else {\n  prefix = 'la';\n}\nconst citasReservadas = appointments\n  .filter(a => a.estado === 'reservado')\n  .map(a => ({\n    inicio: new Date(a.fecha_hora_inicio),\n    fin: new Date(a.fecha_hora_fin),\n  }));\n\nconst disponibles = [];\n\nfor (const h of horariosDelDia) {\n  let hora = h.hora_inicio;\n\n  while (hora < h.hora_fin) {\n    const horas = Math.floor(hora / 100);\n    const minutos = hora % 100;\n\n    const inicioSlot = new Date(fecha);\n    inicioSlot.setUTCHours(horas, minutos, 0, 0);\n\n    const finSlot = new Date(inicioSlot);\n    finSlot.setMinutes(finSlot.getMinutes() + duracion_consulta);\n\n    const ocupado = citasReservadas.some(c =>\n      inicioSlot < c.fin && finSlot > c.inicio\n    );\n\n    if (!ocupado && finSlot.getUTCHours() * 100 + finSlot.getUTCMinutes() <= h.hora_fin) {\n      disponibles.push(inicioSlot.toISOString().substring(11, 16));\n    }\n\n    // ⏭ avanzar según duración real\n    const totalMin = minutos + duracion_consulta;\n    hora = horas * 100 + totalMin;\n\n    // corregir overflow de minutos (> 60)\n    if (hora % 100 >= 60) {\n      hora += Math.floor((hora % 100) / 60) * 40;\n    }\n  }\n}\n\nconst emojis = ['1️⃣','2️⃣','3️⃣','4️⃣','5️⃣','6️⃣','7️⃣','8️⃣','9️⃣','🔟'];\nconst fechaTexto = fecha.toLocaleDateString('es-ES');\nlet mensaje;\n\nif (disponibles.length === 0) {\n  mensaje = `❌ No hay horarios disponibles para ${prefix} ${doctorNombre} el ${fechaTexto}.\\n\\n` +\n            `Por favor, elegí otra fecha o contactá con recepción.`;\n} else {\n  const emojis = ['1️⃣','2️⃣','3️⃣','4️⃣','5️⃣','6️⃣','7️⃣','8️⃣','9️⃣','🔟'];\n\n  mensaje = `Estos son los horarios disponibles para ${prefix} ${doctorNombre} el ${fechaTexto}:\\n\\n`;\n\n  disponibles.forEach((h, i) => {\n    mensaje += `${emojis[i] || '⏱️'} ${h}\\n`;\n  });\n\n  mensaje += `\\nRespondé escribiendo el numero de la hora exacta que prefieras. \\n(Ejemplo: 2)`;\n}\n\nreturn [\n  {\n    json: {\n      mensaje,\n      horariosDisponibles: disponibles,\n      hayDisponibilidad: disponibles.length > 0,\n      duracion_consulta\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        944
      ],
      "id": "5b85397a-6a75-4c6e-8ac9-52a33fe6ff45",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "wA0dcDuSPu44zLSy",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "/projects/2FKcChTlWLe9b3wY/datatables/wA0dcDuSPu44zLSy"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "doctor_id",
              "keyValue": "={{ $('Get_appointment').item.json.doctor_id }}"
            },
            {
              "keyName": "fecha_hora_inicio",
              "condition": "gte",
              "keyValue": "={{ $('Is_Valid_Date').item.json.fecha_date.toDateTime() }}"
            },
            {
              "keyName": "fecha_hora_fin",
              "condition": "lt",
              "keyValue": "={{ $('Is_Valid_Date').item.json.fecha_date.toDateTime().plus(1,\"days\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2128,
        1040
      ],
      "id": "c689ec2f-104f-45de-860b-440f82d7c7ce",
      "name": "GetTurnos1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ebe600fb-d3ac-4886-9b64-109ecbede96a",
              "leftValue": "={{ $('Code in JavaScript4').item.json.hayDisponibilidad }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3248,
        944
      ],
      "id": "214bd5ae-0e83-43b4-a2de-b56f9147d632",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-state",
        "value": "Fecha",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1680,
        496
      ],
      "id": "67a0cba9-3deb-4006-aaab-95b84356361e",
      "name": "Set_fecha",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('When Executed by Another Workflow').item.json.Instance }}",
        "remoteJid": "={{ $('When Executed by Another Workflow').item.json.CallerID }}",
        "messageText": "=¿Para qué día querés agendar la consulta?\n\n📅 Escribí la fecha en formato DD/MM/AAAA.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1456,
        496
      ],
      "id": "73fdb586-c866-446a-a8fb-8b33681d6180",
      "name": "Fecha",
      "credentials": {
        "evolutionApi": {
          "id": "KPgyNGbbQywX4J4r",
          "name": "Ignacio Elizeche"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "dateID",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-dateID",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1456,
        1040
      ],
      "id": "1123c9ce-88b8-40d5-92e9-7848adbef8bf",
      "name": "Get_DateID",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "wA0dcDuSPu44zLSy",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "/projects/2FKcChTlWLe9b3wY/datatables/wA0dcDuSPu44zLSy"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.dateID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1680,
        1040
      ],
      "id": "9dfcfea3-a42e-4b18-8ac3-0b29dcb0317d",
      "name": "Get_appointment"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "dateID",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-dateID",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1456,
        1456
      ],
      "id": "ad85e0b1-b0e0-46d5-b98f-d2af003207d5",
      "name": "Get_DateID1",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "wA0dcDuSPu44zLSy",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "/projects/2FKcChTlWLe9b3wY/datatables/wA0dcDuSPu44zLSy"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.dateID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1680,
        1456
      ],
      "id": "2ff43b4c-b8e5-4667-89b3-06955fa94804",
      "name": "Get_appointment1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "wA0dcDuSPu44zLSy",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "/projects/2FKcChTlWLe9b3wY/datatables/wA0dcDuSPu44zLSy"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.DateID }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha_hora_inicio": "={{ $('Get_date_inicio').item.json.dateInicio.toDateTime() }}",
            "fecha_hora_fin": "={{ $('Get_date_fin').item.json.dateFin.toDateTime() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "doctor_id",
              "displayName": "doctor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "paciente_nombre",
              "displayName": "paciente_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "paciente_telefono",
              "displayName": "paciente_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fecha_hora_inicio",
              "displayName": "fecha_hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fecha_hora_fin",
              "displayName": "fecha_hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1904,
        1840
      ],
      "id": "09f9145c-676e-4838-82b4-f30485a334d9",
      "name": "Update_appointment",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "DateID",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-dateID",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1680,
        1840
      ],
      "id": "9d590e22-cfa1-46cc-9b8d-fcef038a348f",
      "name": "Get_DateId",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('When Executed by Another Workflow').item.json.CallerID }}-HorariosDisponibles"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2240,
        272
      ],
      "id": "d1ec9309-50e3-41ad-bad9-aa42245fbe0a",
      "name": "Delete_HorariosDisponibles",
      "credentials": {
        "redis": {
          "id": "qdJuf3BX2Q82If8J",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "c_a52015c30035f6f45347b720188c668f563b50e7f7e46d7b4cfe756e5a21fc0f@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Calendario Test"
        },
        "eventId": "={{ $json.calendar_id }}",
        "updateFields": {
          "end": "={{ $('Update_appointment').item.json.fecha_hora_fin.toDateTime().setZone('America/Buenos_Aires').plus(3, \"hour\") }}",
          "start": "={{$('Update_appointment').item.json.fecha_hora_inicio.toDateTime().setZone('America/Buenos_Aires').plus(3, \"hour\")}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2320,
        1840
      ],
      "id": "ae45cfbe-e041-4cc3-96d7-8c5f50dc2816",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "nsnIVzGtKgqXNO3s",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hMRPl1eK7rwrIssD",
          "mode": "list",
          "cachedResultName": "Doctor",
          "cachedResultUrl": "/projects/2FKcChTlWLe9b3wY/datatables/hMRPl1eK7rwrIssD"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.doctor_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2112,
        1840
      ],
      "id": "281667c5-5c78-4550-b83e-9323e768c10c",
      "name": "Get row(s)"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "CallerID": "595981145720@s.whatsapp.net",
          "Message": "si",
          "Instance": "IgnacioElizeche"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Canceled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Inicio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetTurnos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get_HorariosDisponibles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_HorariosDisponibles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicio": {
      "main": [
        [
          {
            "node": "Set_name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Number_not_Associated": {
      "main": [
        [
          {
            "node": "Set_number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetTurnos": {
      "main": [
        [
          {
            "node": "Is_name_associated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unica_Cita": {
      "main": [
        [
          {
            "node": "Set_cancelacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_cancelacion": {
      "main": [
        [
          {
            "node": "Set_DateID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is_name_associated": {
      "main": [
        [
          {
            "node": "Is_number_associated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No_Date_With_That_Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is_number_associated": {
      "main": [
        [
          {
            "node": "Message_Builder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Number_not_Associated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is_date_unique": {
      "main": [
        [
          {
            "node": "Unica_Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Multiples_Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Neither",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar": {
      "main": [
        [
          {
            "node": "Call 'Deletion_of_Redis'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message_Builder": {
      "main": [
        [
          {
            "node": "Is_date_unique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multiples_Citas": {
      "main": [
        [
          {
            "node": "Set_eleccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_eleccion": {
      "main": [
        [
          {
            "node": "Set_HorariosDisponibles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_HorariosDisponibles": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canceled?": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Eleccion_valida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eleccion_valida": {
      "main": [
        [
          {
            "node": "Set_fecha",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set_DateID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Is_Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is_Valid_Date": {
      "main": [
        [
          {
            "node": "Get_DateID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FechaPasada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is_Date": {
      "main": [
        [
          {
            "node": "Is_Valid_Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FechaInvalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetHorario": {
      "main": [
        [
          {
            "node": "GetTurnos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is_attending that date": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoAtiende",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDoctor": {
      "main": [
        [
          {
            "node": "Is_attending that date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hora": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_date": {
      "main": [
        [
          {
            "node": "Set_hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_HorariosDisponibles": {
      "main": [
        [
          {
            "node": "Get_date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_Horarios": {
      "main": [
        [
          {
            "node": "Set_date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Hora1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDoctor1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hora1": {
      "main": [
        [
          {
            "node": "Set_date_inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_date_inicio": {
      "main": [
        [
          {
            "node": "Set_date_fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_date_fin": {
      "main": [
        [
          {
            "node": "Set_confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_date": {
      "main": [
        [
          {
            "node": "Get_DateID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_date_fin": {
      "main": [
        [
          {
            "node": "Get_DateId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_date_inicio": {
      "main": [
        [
          {
            "node": "Get_date_fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get_date_inicio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "cancelacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelacion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmacion": {
      "main": [
        [
          {
            "node": "Call 'DeleteKeys'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelacion": {
      "main": [
        [
          {
            "node": "Call 'DeleteKeys'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetTurnos1": {
      "main": [
        [
          {
            "node": "GetDoctor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Save_Horarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fecha": {
      "main": [
        [
          {
            "node": "Set_fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_fecha": {
      "main": [
        []
      ]
    },
    "Get_DateID": {
      "main": [
        [
          {
            "node": "Get_appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_appointment": {
      "main": [
        [
          {
            "node": "GetHorario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_DateID1": {
      "main": [
        [
          {
            "node": "Get_appointment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_appointment1": {
      "main": [
        [
          {
            "node": "GetDoctor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_appointment": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_DateId": {
      "main": [
        [
          {
            "node": "Update_appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_DateID1": {
      "main": [
        [
          {
            "node": "Delete_HorariosDisponibles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event": {
      "main": [
        [
          {
            "node": "Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2bf542c6-39f6-47ee-8e84-fcd21ebab765",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3212bfadbae0394348d980ce598dea4cda92f75a33d564a77df9f78616c9dc82"
  },
  "id": "G8EylwTxnY6yVjSi",
  "tags": []
}