N8N/UpdateAppointmentCalendar.json
{
  "name": "UpdateAppointmentCalendar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1b2c3d4-5e6f-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT google_calendar_id, calendar_sync_enabled, name FROM doctores WHERE id = {{ $json.doctor_id }} AND empresa_id = {{ $json.empresa_id }}",
        "options": {}
      },
      "id": "a1b2c3d4-5e6f-7890-abcd-ef1234567891",
      "name": "Get Doctor Calendar Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $node[\"Get Doctor Calendar Info\"].json[\"google_calendar_id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $node[\"Get Doctor Calendar Info\"].json[\"calendar_sync_enabled\"] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1c2d3e4-5f6a-7890-bcde-f12345678902",
      "name": "Check Calendar Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $node[\"Webhook\"].json[\"google_calendar_event_id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $node[\"Webhook\"].json[\"google_calendar_event_id\"] }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1d2e3f4-5a6b-7890-cdef-123456789013",
      "name": "Check If Update",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": "={{ $node[\"Get Doctor Calendar Info\"].json[\"google_calendar_id\"] }}",
        "start": "={{ $node[\"Webhook\"].json[\"appointment_date\"] }}T{{ $node[\"Webhook\"].json[\"appointment_time\"] }}:00-03:00",
        "end": "={{ DateTime.fromISO($node[\"Webhook\"].json[\"appointment_date\"] + 'T' + $node[\"Webhook\"].json[\"appointment_time\"] + ':00-03:00').plus({minutes: 30}).toISO() }}",
        "summary": "Cita - {{ $node[\"Webhook\"].json[\"patient_name\"] }}",
        "description": "Paciente: {{ $node[\"Webhook\"].json[\"patient_name\"] }}\\nEstado: {{ $node[\"Webhook\"].json[\"status\"] }}\\nID Cita: {{ $node[\"Webhook\"].json[\"appointment_id\"] }}",
        "additionalFields": {}
      },
      "id": "d1e2f3a4-5b6c-7890-defa-234567890124",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [
        1200,
        100
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2",
          "name": "Google Calendar Service Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": "={{ $node[\"Get Doctor Calendar Info\"].json[\"google_calendar_id\"] }}",
        "eventId": "={{ $node[\"Webhook\"].json[\"google_calendar_event_id\"] }}",
        "updateFields": {
          "start": "={{ $node[\"Webhook\"].json[\"appointment_date\"] }}T{{ $node[\"Webhook\"].json[\"appointment_time\"] }}:00-03:00",
          "end": "={{ DateTime.fromISO($node[\"Webhook\"].json[\"appointment_date\"] + 'T' + $node[\"Webhook\"].json[\"appointment_time\"] + ':00-03:00').plus({minutes: 30}).toISO() }}",
          "summary": "Cita - {{ $node[\"Webhook\"].json[\"patient_name\"] }}",
          "description": "Paciente: {{ $node[\"Webhook\"].json[\"patient_name\"] }}\\nEstado: {{ $node[\"Webhook\"].json[\"status\"] }}\\nID Cita: {{ $node[\"Webhook\"].json[\"appointment_id\"] }}"
        }
      },
      "id": "e1f2a3b4-5c6d-7890-efab-345678901235",
      "name": "Update Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2",
          "name": "Google Calendar Service Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/calendar/appointment-calendar-updated",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "appointment_id",
              "value": "={{ $node[\"Webhook\"].json[\"appointment_id\"] }}"
            },
            {
              "name": "google_calendar_event_id",
              "value": "={{ $node[\"Create Calendar Event\"].json[\"id\"] || $node[\"Update Calendar Event\"].json[\"id\"] || $node[\"Webhook\"].json[\"google_calendar_event_id\"] }}"
            },
            {
              "name": "success",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        }
      },
      "id": "f1a2b3c4-5d6e-7890-fabc-456789012346",
      "name": "Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/calendar/appointment-calendar-updated",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "appointment_id",
              "value": "={{ $node[\"Webhook\"].json[\"appointment_id\"] }}"
            },
            {
              "name": "google_calendar_event_id",
              "value": "={{ $node[\"Webhook\"].json[\"google_calendar_event_id\"] || '' }}"
            },
            {
              "name": "success",
              "value": "false"
            },
            {
              "name": "error",
              "value": "Calendar sync disabled or no calendar configured for doctor"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-5e6f-7890-abcd-ef1234567847",
      "name": "Callback Skip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/calendar/appointment-calendar-updated",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "appointment_id",
              "value": "={{ $node[\"Webhook\"].json[\"appointment_id\"] }}"
            },
            {
              "name": "google_calendar_event_id",
              "value": "={{ $node[\"Webhook\"].json[\"google_calendar_event_id\"] || '' }}"
            },
            {
              "name": "success",
              "value": "false"
            },
            {
              "name": "error",
              "value": "Calendar operation failed - check Google Calendar API connectivity and permissions"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1c2d3e4-5f6a-7890-bcde-f12345678948",
      "name": "Callback Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1450,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Appointment calendar updated\", \"appointment_id\": $node[\"Webhook\"].json[\"appointment_id\"] } }}"
      },
      "id": "c1d2e3f4-5a6b-7890-cdef-123456789049",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Calendar sync skipped\", \"appointment_id\": $node[\"Webhook\"].json[\"appointment_id\"] } }}"
      },
      "id": "d1e2f3a4-5b6c-7890-defa-23456789014a",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Calendar operation failed\", \"appointment_id\": $node[\"Webhook\"].json[\"appointment_id\"] } }}"
      },
      "id": "e1f2a3b4-5c6d-7890-efab-34567890124b",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1700,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Doctor Calendar Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Doctor Calendar Info": {
      "main": [
        [
          {
            "node": "Check Calendar Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Enabled": {
      "main": [
        [
          {
            "node": "Check If Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Update": {
      "main": [
        [
          {
            "node": "Update Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Callback Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Calendar Event": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Callback Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Skip": {
      "main": [
        [
          {
            "node": "Respond Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-19T20:00:00.000Z",
      "updatedAt": "2026-03-19T20:00:00.000Z",
      "id": "calendar-sync",
      "name": "Calendar Sync"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-19T20:00:00.000Z",
  "versionId": "1"
}